[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=ultimate-tictactoe
Exec=ultimate-tictactoe
Icon=ultimate-tictactoe
X-Nemo-Application-Type=silica-qt5
